.action-timeline-container {
    width: 100%;
}

.action-timeline-svg {
    display: block;
}

.action-timeline-label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 11px;
    color: #333;
    text-align: right;
    line-height: 1.2;
    padding-right: 4px;
    box-sizing: border-box;
    overflow: hidden;
}
